[project]
	description = This is the net game has been written in java, javafx
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ShinShil
[access "refs/for/refs/*"]
	read = group user/ShinShil
	push = group user/ShinShil
	label-Code-Review = -2..+2 group user/ShinShil
	label-Verified = -1..+1 group user/ShinShil
	rebase = group user/ShinShil
	removeReviewer = group user/ShinShil
	submit = group user/ShinShil
[access "refs/heads/*"]
	read = group user/ShinShil
	create = group user/ShinShil
	push = +force group user/ShinShil
	pushMerge = group user/ShinShil
[access "refs/tags/*"]
	push = +force group user/ShinShil
	pushTag = group user/ShinShil
	pushSignedTag = group user/ShinShil
